################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Eduasync/v15
/1 VoidMethodWithoutAwaits/bin/Release
/1 VoidMethodWithoutAwaits/obj/Release
