################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Eduasync/v15
/1 VoidMethodWithoutAwaits/bin/Release
/1 VoidMethodWithoutAwaits/obj/Release
/2 NonGenericMethodWithoutAwaits/bin/Release
/2 NonGenericMethodWithoutAwaits/obj/Release
/3 FirstTaskCompletionSource/bin/Release
/3 FirstTaskCompletionSource/obj/Release
